# Temporary for testing.
*media/
gephi_network_data.gexf
ignored_tw_urls_log.txt
users_rejected_as_spam.txt
homesite/settings.py


*.pyc
*~
__pycache__
venv
db.sqlite3
/static
.DS_Store

/streamcollect/tokens.py
tokens_export.py
todo.txt
celerybeat.pid
