# Temporary for testing.
*.gexf
*.csv
*media/
ignored_tw_urls_log.txt
ignored_tw_kws_log.txt
ignored_tw_sources_log.txt
users_rejected_as_spam.txt
homesite/settings.py
notebooks/.ipynb_checkpoints/*


*.pyc
*~
__pycache__
venv
db.sqlite3
/static
.DS_Store

/streamcollect/tokens.py
tokens_export.py
todo.txt
celerybeat.pid
