certifi==2018.4.16
chardet==3.0.4
idna==2.6
oauthlib==2.1.0
PySocks==1.6.8
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
-e git+https://github.com/rosscg/tweepy.git@20fd9aa7d218d175cd83d0c351b21200fe6fe671#egg=tweepy
urllib3==1.22
virtualenv==15.2.0
