amqp==2.1.4
appnope==0.1.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
billiard==3.5.0.2
bleach==3.1.0
celery==4.0.2
certifi==2017.4.17
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
defusedxml==0.6.0
Django==1.11.1
django-celery-beat==1.0.1
django-extensions==2.1.9
entrypoints==0.3
idna==2.5
ipykernel==5.1.1
ipython==7.6.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
jedi==0.14.0
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.5.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterthemes==0.20.0
kiwisolver==1.1.0
kombu==4.0.2
lesscpy==0.13.0
lxml==4.2.5
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.4
notebook==6.1.5
numpy==1.16.4
oauthlib==2.0.2
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psycopg2==2.7.1
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.2
PySocks==1.6.7
python-dateutil==2.6.0
python-louvain==0.14
pytz==2017.2
PyYAML==5.1.1
pyzmq==18.0.2
qtconsole==4.5.1
redis==2.10.5
requests==2.18.1
requests-oauthlib==0.8.0
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
-e git+https://github.com/rosscg/tweepy.git@20fd9aa7d218d175cd83d0c351b21200fe6fe671#egg=tweepy
urllib3==1.21.1
vine==1.1.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.0
