{% load staticfiles %}
<html>
  <head>
      <title>StreamCollect</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <!-- Leaflet for mapping: -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>

      <link rel="stylesheet" href="{% static 'css/streamcollect.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">StreamCollect</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/list_users">List Users</a></li>
            <li><a href="/view_event">View Event</a></li>
            <li><a href="/view_entities">View Entities</a></li>
            <li><a href="/view_network">View Network</a></li>
            <li><a href="/stream_status">Stream Status</a></li>
            <li><a href="/functions">Functions</a></li>
            <li><a href="/coding_dash">Data Coding</a></li>
            <li><a href="/twitter_auth">Twitter Authentication</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
