{% load staticfiles %}
<html>
    <head>
        <title>StreamCollect</title>
	      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{% static 'css/streamcollect.css' %}">

        <script type="text/javascript">
          window.onload = function() {
            var a = document.getElementById("coding_link");
            a.onclick = function() {
              var x = screen.width;
              var y = screen.height;
              var code_window_height = 100; // Value may duplicated in coding_interface.html (currently is not)
              var url_window_user = window.open("about:blank", "url_window_user", "width=" + x/2 + ", top=" + (code_window_height+100) + ", height=" + (y-code_window_height-100) + ", left=" + 0 + ", menubar=no, toolbar=no, status=no");
              var url_window_url = window.open("about:blank", "url_window_url", "width=" + x/2 + ", top=" + (code_window_height+100) + ", height=" + (y-code_window_height-100) + ", left=" + x/2 + ", menubar=no, toolbar=no, status=no");
              var coding_window = window.open("/coding_interface/1", "coding_window", "width=" + x + ", height=" + code_window_height + ", menubar=no, toolbar=no, status=no");
              }
            }
        </script>

    </head>

    <body>

      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">StreamCollect</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/list_users">List Users</a></li>
              <li><a href="/view_event">View Event</a></li>
              <li><a href="/view_network">View Network</a></li>
              <li><a href="/stream_status">Stream Status</a></li>
              <li><a href="/functions">Functions</a></li>
              <li><a id="coding_link" href="">Data Coding</a></li>
              <li><a href="/twitter_auth">Twitter Authentication</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

    </body>
</html>
