{% extends 'streamcollect/base.html' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-lg-12" align="center">
    {% if dimensions %}
      <button id="start_coding" type="submit" class="btn btn-primary btn-lg" name="start_coding">Start Coding</button>
      <form action="submit" method="POST" class="form-inline">{% csrf_token %}
        <input type="submit" class="btn btn-primary btn-lg" name="save_coded_data_to_file" value="Save Data to File">
      </form>
      <form action="coding_results">
        <input type="submit" class="btn btn-primary btn-lg" value="View Results" />
      </form>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" align="center">
      {% if coding_subject == 'tweet' %}
      <button class="btn btn-success active">Currently Coding Tweets</button>
      <form action="submit" method="POST" class="form-inline">{% csrf_token %}
        <input type="hidden" value='user' name="coding_subject">
        <input type="submit" class="btn btn-dark btn-md" name="set_coding_subject" value="Code Users">
      </form>
      {% elif coding_subject == 'user' %}
      <form action="submit" method="POST" class="form-inline">{% csrf_token %}
        <input type="hidden" value='tweet' name="coding_subject">
        <input type="submit" class="btn btn-dark" name="set_coding_subject" value="Code Tweets">
      </form>
      <button class="btn btn-success active">Currently Coding Users</button>
      {% endif %}
    </div>

    <div class="col-lg-6" align="center">
      {% if active_coder == 1 %}
      <button class="btn btn-success active">First Coder Active</button>
      <form action="submit" method="POST" class="form-inline">{% csrf_token %}
        <input type="hidden" value=2 name="coder_id">
        <input type="submit" class="btn btn-dark btn-md" name="set_coder" value="Switch to Secondary Coder">
      </form>
      {% elif active_coder == 2 %}
      <form action="submit" method="POST" class="form-inline">{% csrf_token %}
        <input type="hidden" value=1 name="coder_id">
        <input type="submit" class="btn btn-dark" name="set_coder" value="Switch to Primary Coder">
      </form>
      <button class="btn btn-success active">Second Coder Active</button>
      {% endif %}
    </div>
  </div>


  {% for dimension in dimensions %}
    {% if dimension.coding_subject == coding_subject %}
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-1">
          {% if dimension.id == active_coding_dimension %}
          <button class="btn btn-success active">Current:</button>
          {% else %}
          <form action="submit" method="POST" class="form-inline">{% csrf_token %}
            <input type="hidden" value={{ dimension.id }} name="dimension_id">
            <input type="submit" class="btn btn-primary" name="set_code_dimension" value="Activate:">
          </form>
          {% endif %}
        </div>
        <div class="col-sm-3">
         <p style="font-size:130%;">{{ dimension.name }}</p>
         <p>{{ dimension.description }}</p>
        </div>

        <div class="col-sm-3">
         {% for d in dimension.datacode.all %}
           {% if active_coder == 1 %}
            <form action="submit" method="POST" class="form-inline" onsubmit="return confirm('Confirm data code deletion.');">{% csrf_token %}
              <input type="hidden" value={{ d.data_code_id }} name="data_code_id">
              <input type="submit" class="btn btn-remove" name="delete_data_code" value="{{ d.name }}">
            </form>
           {% else %}
            <button type="submit" class="btn disabled" name="">{{ d.name }}</button>
           {% endif %}
         {% endfor %}
        </div>

        {% if active_coder == 1 %}
        <div class="col-sm-1">
          <form action="submit" method="POST" class="form-inline" onsubmit="return confirm('Confirm dimension deletion.');">{% csrf_token %}
            <input type="hidden" value={{ dimension.id }} name="dimension_id">
            <input type="submit" class="btn btn-outline-danger" name="delete_dimension" value="Delete">
          </form>
        </div>
       {% endif %}
      </div>
    {% endif %}
  {% endfor %}

  <div class="row">
    <br/>
  </div>

  {% if active_coder == 1 %}
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <form action="submit" method="POST" class="form-inline">{% csrf_token %}
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-md" name="add_dimension" value="Add Dimension:">
            <input type="text" class="form-control" name="dimension_name">
            <label for="description">Description:</label>
            <input class="form-control" name="description">
          </div>
        </form>
      </div>

    {% if dimensions %}
      <div class="col-md-4">
        <form action="submit" method="POST" class="form-inline">{% csrf_token %}
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-md" name="add_data_code" value="Add Code:">
            <input type="text" class="form-control" name="code">
            <label for="description">Description:</label>
            <input class="form-control" name="description">
          </div>
        </form>
      </div>
    {% endif %}
    </div>
  {% endif %}

</div>


<script type="text/javascript">
  window.onload = function() {
    var a = document.getElementById("start_coding");
    a.onclick = function() {
      var x = screen.width;
      var y = screen.height;

      var code_window_height = 250; // Value may duplicated in coding_interface.html (currently is not)
      if ("{{ active_coding_dimension }}" != 'None') {
        if ("{{ coding_subject }}" == 'tweet') {
          var url_window_user = window.open("about:blank", "url_window_user", "width=" + x/2 + ", top=" + (code_window_height+100) + ", height=" + (y-code_window_height-100) + ", left=" + 0 + ", menubar=no, toolbar=no, status=no");
          var url_window_url = window.open("about:blank", "url_window_url", "width=" + x/2 + ", top=" + (code_window_height+100) + ", height=" + (y-code_window_height-100) + ", left=" + x/2 + ", menubar=no, toolbar=no, status=no");
          var coding_window = window.open("/coding_interface", "coding_window", "width=" + x + ", height=" + code_window_height + ", top=0, menubar=no, toolbar=no, status=no");
        }
        else {
          var coding_window = window.open("/coding_interface", "coding_window", "width=" + x/2 + ", height=" + code_window_height/2 + ", top=0, menubar=no, toolbar=no, status=no");
        }
      }
      else {
        alert("Create a dimension first.");
      }
    }
  }
</script>


{% endblock %}
