{% extends 'streamcollect/base.html' %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1 class="title"><small>Coding Interface</small></h1>
    {% if coder == '1' %}
      <h1 class="title"><small>Total Coded: {{ total_coded }}</small></h1>
    {% elif coder > '1' %}
      <h1 class="title"><small>Remaining: {{ remaining }} Total Coded: {{ total_coded }}</small></h1>
    {% endif %}
  </div>

{% if remaining != 0 and coder != '0' %}
  <div class="row">
    <div class="col-sm-8">
      <div class="added_tweet">
        <p>{{ tweet.text }}</p>
        <p>&emsp;<a href="http://www.twitter.com/{{ tweet.author.screen_name }}/status/{{ tweet.tweet_id }}" target="_blank">Source</a>&emsp;&emsp;&emsp;<a href="{% url 'user_details' user_id=tweet.author.user_id %}" target="_blank">Author</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div>
        <form action="submit" method="POST">{% csrf_token %}
          <input type="hidden" value={{ tweet.tweet_id }} name="tweet_id">
          <input type="hidden" value={{ coder }} name="coder">
          <div class="row" style="text-align:center">
            {% for code in codes %}
              <button id={{ code.data_code_id }} type="submit" value={{ code.data_code_id }} class="btn btn-primary" name="assign_code">
               {{ code.data_code_id }}: {{ code.name }}
              </button>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% if coder == '0' %}
  <div class="row">
    <div class="col-sm-8">
      <p align='right'><a href="/coding_interface/1">Change to Primary Coder</a></p>
    </div>
  </div>

  {% for code in codes %}
  <div class="row">
    <div class="col-sm-8">
     <p style="font-size:130%;">{{ code.data_code_id }}: <b>{{ code.name }}</b><br/>
     {{ code.description }}
     <form action="submit" method="POST">{% csrf_token %}
       <input type="hidden" value={{ code.data_code_id }} name="data_code_id">
       <input type="submit" class="btn btn-danger btn-xs" name="delete_data_code" value="Delete '{{ code.name }}'"></form>
    </p>
   </div>
  </div>
{% endfor %}

  <div class="row">
    <div class="col-sm-8">
      <form action="submit" method="POST">{% csrf_token %}
        <div class="form-group">
          <div class="col-xs-8">
            <label for="code">Add Code:</label>
            <input type="text" class="form-control" name="code">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="4" name="description"></textarea>
            <input type="submit" class="btn btn-primary btn-md" name="add_data_code" value="Add Code">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endif %}


  <div class="row">
    <div class="col-sm-8">
      {% if coder == '1' %}
        <p align='right'><a href="/coding_interface/2">Change to Secondary Coder</a></p>
        <p align='right'><a href="/coding_interface/0">Add/View Codes</a></p>
      {% elif coder != '0' %}
        <p align='right'><a href="/coding_interface/1">Change to Primary Coder</a></p>
        <p align='right'><a href="/coding_interface/0">Add/View Codes</a></p>
      {% endif %}
    </div>
  </div>

</div>


<script>
  document.body.onkeypress = function() {set_code(event)};

  function set_code(event) {
      if (event.keyCode == 49){
        document.getElementById("1").click()
      }
      else if (event.keyCode == 50){
        document.getElementById("2").click()
      }
      else if (event.keyCode == 51){
        document.getElementById("3").click()
      }
      else if (event.keyCode == 52){
        document.getElementById("4").click()
      }
      else if (event.keyCode == 53){
        document.getElementById("5").click()
      }
      else if (event.keyCode == 54){
        document.getElementById("6").click()
      }
      else if (event.keyCode == 55){
        document.getElementById("7").click()
      }
      else if (event.keyCode == 56){
        document.getElementById("8").click()
      }
      else if (event.keyCode == 57){
        document.getElementById("9").click()
      }
  }
</script>

{% endblock %}
