{% extends 'streamcollect/base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="event_details">
        <form method="POST" class="post-form">{% csrf_token %}
          <p>DateTime Format: YYYY-MM-DD 00:00:00, TZ: UTC</p>
          {% for f in forms %}
            {% if f.prefix %}
              <p><b>{{ f.prefix }}:</b></p>
            {% endif %}
            {{ f.as_p }}
          {% endfor %}
          <button type="submit" class="save btn btn-default">Save</button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      {% if not mapbox_pk == 'null' %}
      <b>Check Map Coordinates:</b>
      <div id="mapid" style="width: 600px; height: 400px;"></div> </br>
      {% else %}
      Mapbox PK not supplied in config.py, map not shown.
      {% endif %}
    </div>
  </div>

</div>


<script>

  window.onload = function() {createMap()}

  function createMap() {
    var mymap = L.map('mapid').setView([0, 18], 2);
    var popup = L.popup();
    var mapboxPK = {{ mapbox_pk|safe }};

    //#TODO: Consider hiding PK from source
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxPK, {
  		maxZoom: 18,
  		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
  			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
  			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  		id: 'mapbox.streets'
  	}).addTo(mymap);

    function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("Lat: <b>" + e.latlng.lat.toFixed(4) + "</b>, Lon: <b>" + e.latlng.lng.toFixed(4))
        .openOn(mymap);
      }

    mymap.on('click', onMapClick);
  }

</script>


{% endblock %}
