{% extends 'streamcollect/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>StreamCollect</h1>
  <p>Log live Twitter Data</p>
</div>

<div class="row">
  <h1 class="title"><small>Add Tracking Data:</small></h1>
  <div class="row">
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-lg-12">
          <label>Add Low-Priority Keyword:</label>
          <input type="text" class="form-control" name="info">
          <input type="submit" class="btn btn-primary btn-md" name="add_keyword_low" value="Submit">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-lg-12">
          <label>Add Priority Keyword:</label>
          <input type="text" class="form-control" name="info">
          <input type="submit" class="btn btn-primary btn-md" name="add_keyword_high" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
