{% extends 'streamcollect/base.html' %}

{% block content %}
<!--
<div class="jumbotron">
  <h1>StreamCollect</h1>
  <p>Log live Twitter Data</p>
</div>
-->

<div class="row">
  <div class="col-lg-8">
  {% if not mid_point == 'null' and not mapbox_pk == 'null' %}
    <div id="mapid" style="width: 800px; height: 600px;"></div> </br>
  </div>

  <div class="col-lg-4" align="right">
    <table>
      <tr>
        <td>
          <b>Data Source:</b>
        </td>
      </tr>
      {% for i in "3210" %} <!-- acting as range(0,4) -->
      <tr>
        <td>
          {% if i|add:"0" in selected_data_sources %}
          <form action="submit" method="POST" class="form-inline">{% csrf_token %}
            <input type="hidden" value="{{i}}" name="data_source_to_deactivate">
            <input type="submit" class="btn btn-success active btn-md" name="set_active_data_source" value="Enabled">
          </form>
          {% else %}
          <form action="submit" method="POST" class="form-inline">{% csrf_token %}
            <input type="hidden" value="{{i}}" name="data_source_to_activate">
            <input type="submit" class="btn btn-default btn-md" name="set_active_data_source" value="Disabled">
          </form>
          {% endif %}
        </td>
        <td>
          {% if i == '3' %}
            <img src='static/img/marker-icon-2x-red.png' height='41px'> = 3 (GPS Stream)
          {% elif i == '2' %}
            <img src='static/img/marker-icon-2x-blue.png' height='41px'> = 2 (High-Priority Stream)
          {% elif i == '1' %}
            <img src='static/img/marker-icon-2x-orange.png' height='41px'> = 1 (Low-Priority Stream)
          {% else %}
            <img src='static/img/marker-icon-2x-grey.png' height='41px'> = 0 (Added Tweet)
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </table>
    {% elif not mapbox_pk == 'null' %}
    <b>No Event GPS Registered.</b>
    {% else %}
    <b>Mapbox PK not supplied in config.py, map not shown.</b>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <label>Add Low-Priority Keyword:</label>
        <input type="text" class="form-control" name="info">
        <input type="submit" class="btn btn-primary btn-md" name="add_keyword_low" value="Submit">
      </div>
    </form>
  </div>
  <div class="col-sm-3">
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <label>Add Priority Keyword:</label>
        <input type="text" class="form-control" name="info">
        <input type="submit" class="btn btn-primary btn-md" name="add_keyword_high" value="Submit">
      </div>
    </form>
  </div>
</div>

<script>

  window.onload = function() { createMap() }

  function createMap() {
    var js_list = {{ tweets|safe }};
    var bounding_box = {{ bounding_box|safe }};
    var mid_point = {{ mid_point|safe }};
    var mymap = L.map('mapid', { worldCopyJump:true }).setView([mid_point[0], mid_point[1]], 7);
    var mapboxPK = {{ mapbox_pk|safe }};

    var LeafIcon = L.Icon.extend({
    options: {
        shadowUrl: 'static/img/marker-shadow.png',
      	iconSize: [25, 41],
      	iconAnchor: [12, 41],
      	popupAnchor: [1, -34],
      	shadowSize: [41, 41]
      }
    });
    var greyIcon = new LeafIcon({iconUrl: 'static/img/marker-icon-2x-grey.png'}),
      redIcon = new LeafIcon({iconUrl: 'static/img/marker-icon-2x-red.png'}),
      orangeIcon = new LeafIcon({iconUrl: 'static/img/marker-icon-2x-orange.png'}),
      blueIcon = new LeafIcon({iconUrl: 'static/img/marker-icon-2x-blue.png'});

    //#TODO: Consider hiding PK from source
  	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxPK, {
  		maxZoom: 18,
  		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
  			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
  			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  		id: 'mapbox.streets'
  	}).addTo(mymap);

    for (i=0; i < js_list.length; i++) {
      if ( js_list[i].data_source == 3) {
        icon = redIcon;
      } else if (js_list[i].data_source == 2) {
        icon = blueIcon;
      } else if (js_list[i].data_source == 1) {
        icon = orangeIcon;
      } else {
        icon = greyIcon;
      }

      L.marker([js_list[i].lat, js_list[i].lon], {icon: icon}).addTo(mymap).bindPopup(js_list[i].text + "<br><a href=\"http://www.twitter.com/" + js_list[i].author + "/status/" + js_list[i].tweet_id + "\" target=\"_blank\">Source</a>");
    };

    if (bounding_box && bounding_box.length == 4) {
      L.polygon([
        [bounding_box[0], bounding_box[1]],
        [bounding_box[2], bounding_box[1]],
        [bounding_box[2], bounding_box[3]],
        [bounding_box[0], bounding_box[3]]
      ]).addTo(mymap).bindPopup("Bounding Box for GPS Stream");
    };
  }

</script>

{% endblock %}
