{% extends 'streamcollect/base.html' %}

{% block content %}

    <h1>Show Users</h1>
      {% for user in users %}
        {% if user.screen_name %}
          <div>
              <h1>ID: {{ user.user_id}}</h1>
              <p>Screen name: {{ user.screen_name }} </p>
              <p>Name: {{ user.name}}</p>
              <p>User created at: {{ user.created_at }}</p>
              <p>Added on: {{ user.added_at }}</p>
          </div>
        {% endif %}
        {% if user.screen_name is None %}
          <div>
              <h1>ID: {{ user.user_id}}</h1>
          </div>
        {% endif %}
      {% endfor %}
{% endblock %}
