{% extends 'streamcollect/base.html' %}
{% block content %}

<div class="container">

  {% if kw_stream_status is True %}
  <div class="row">
    <h1 class="title"><small>The keyword stream is currently running.</small></h1>
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-4">
          <input type="submit" class="btn btn-primary btn-md" name="stop_kw_stream" value="Stop Stream">
        </div>
      </div>
    </form>
  </div>
  {% endif %}

  {% if kw_stream_status is False %}
  <div class="row">
    <h1 class="title"><small>The keyword stream is not currently running.</small></h1>
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-4">
          <input type="submit" class="btn btn-primary btn-md" name="start_kw_stream" value="Start Stream">
        </div>
      </div>
    </form>
  </div>
  {% endif %}

  <div class="row top_margin_20">
    <p>Keywords:
        {% if keywords|length == 0 %}
          <b>No Keywords Detected.</b>
        {% else %}
          {% for keyword in keywords %}
            <b>{{ keyword }}, </b>
          {% endfor %}
      {% endif %}
    </p>
  </div>



  {% if gps_stream_status is True %}
  <div class="row">
    <h1 class="title"><small>The GPS stream is currently running.</small></h1>
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-4">
          <input type="submit" class="btn btn-primary btn-md" name="stop_gps_stream" value="Stop Stream">
        </div>
      </div>
    </form>
  </div>
  {% endif %}

  {% if gps_stream_status is False %}
  <div class="row">
    <h1 class="title"><small>The GPS stream is not currently running.</small></h1>
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-4">
          <input type="submit" class="btn btn-primary btn-md" name="start_gps_stream" value="Start Stream">
        </div>
      </div>
    </form>
  </div>
  {% endif %}

</div>

{% endblock %}
