{% extends 'streamcollect/base.html' %}
{% block content %}

<div class="container">

  <div class="row">
    <h1 class="title"><small>Test Functions:</small></h1>
    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-3">
          <input type="submit" class="btn btn-primary btn-md" name="trim_spam_accounts" value="Trim Spam Accounts">
        </div>
      </div>
    </form>

    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-3">
          <input type="submit" class="btn btn-primary btn-md" name="update_user_relos" value="Update Relationship Data">
        </div>
      </div>
    </form>

    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-3">
          <input type="submit" class="btn btn-primary btn-md" name="delete_keywords" value="Delete Keywords">
        </div>
      </div>
    </form>

    <form action="submit" method="POST">{% csrf_token %}
      <div class="form-group">
        <div class="col-xs-3">
          <input type="submit" class="btn btn-primary btn-md" name="terminate_tasks" value="Terminate Tasks">
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    {% if tasks %}
      <h1 class="title"><small>Tasks Running:</small></h1>
      {% for task in tasks %}
      <p>{{ task }}</p>
      {% endfor %}
    {% endif %}
  </div>

</div>

{% endblock %}
