{% extends 'streamcollect/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-9">

      <div class="row">
      {% if error %}
        <h3 class="title">Error: {{error}}</h3>
      {% elif success %}
        <h3 class="title">Token Successfully Added:</h3>
        {{token}}
      {% else %}
        <h3 class="title">Load Twitter credentials:</h3>
      {% endif %}
      </div>

      <div class="row">
        <div class="col-sm-6">

          <form action="submit" method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-md" name="twitter_auth" value="Add Token">
            </div>
          </form>

          <form action="submit" method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-md" name="load_tokens" value="Load From Config">
            </div>
          </form>

          <form action="submit" method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-md" name="export_tokens" value="Export Tokens">
            </div>
          </form>

        </div>
      </div>

      {% if tokens %}
      <div class="row">
        <h5>{{ tokens|length }} Existing Tokens</h5>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
