{% load staticfiles %}
<html>
  <head>
      <title>StreamCollect</title>
	     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <link rel="stylesheet" href="{% static 'css/streamcollect.css' %}">
  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          {% for tweet in tweets %}
            {% if tweet.data_source > 0 %}
              <div class="streamed_tweet">
            {% elif tweet.text|slice:":4" == 'RT @' %}
              <div class="added_tweet retweeted_tweet">
            {% else %}
              <div class="added_tweet">
            {% endif %}
                <p>{{ tweet.text }}    <a href="https://twitter.com/{{ tweet.author.screen_name }}/status/{{ tweet.tweet_id }}" target="_blank">Source</a></p>
              </div>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="user_details">
            <p><b>{{ user.name }},</b> <a href="https://twitter.com/{{ user.screen_name }}" target="_blank">{{ user.screen_name }}</a></p>
            <p><i>{{ user.description }}</i></p>
            <p>{{ user.location }}</p>
            </br>
            <p>Timezone: {{ user.time_zone }}</p>
            <p>Account created on: {{ user.created_at }}</p>
            <p>Followers: {{ user.followers_count }}</p>
            <p>Friends: {{ user.friends_count }}</p>
            <p>Statuses: {{ user.statuses_count }}</p>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
