{% extends 'streamcollect/base.html' %}

{% block content %}


<div class="row">
  <div class="col-md-6">

    <div class="container">
      <div class="page-header">
        <h1 class="title"><small>{{ event.name }}</small></h1>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="event_details">
            <table>
              <tr>
                <td>Event Duration: </td>
                <td>{{ event.time_start }} - {{ event.time_end }}<td>
              </tr>
              <tr>
                <td>Keyword Stream:</td>
                <td>{{ event.kw_stream_start }} - {{ event.kw_stream_end }}</td>
              </tr>
              <tr>
                <td>GPS Stream:</td>
                <td>{{ event.gps_stream_start }} - {{ event.gps_stream_end }}</td>
              </tr>
              <tr>
                <td>Geo Points:</td>
                <td>{% for coord in event.geopoint.all %}
                  ({{ coord.latitude }}, {{ coord.longitude }})
                {% endfor %}
                </td>
               </tr>
               <tr>
                {% if event.geopoint.all.count == 2 %}
                  <td>Mid Point:
                  </td>
                  <td>{{ mid_point }}</td>
                  <tr>
                    <td>
                      <a href="https://www.google.co.uk/maps/@{{ mid_point.0 }},{{ mid_point.1 }},7z" target="_blank">Google Maps</a>
                    </td>
                {% elif event.geopoint.all %}
                  <td>
                    <a href="https://www.google.co.uk/maps/@{{ event.geopoint.all.0.latitude }},{{ event.geopoint.all.0.longitude }},7z" target="_blank">Google Maps</a>
                  </td>
                {% endif %}
              </tr>
             </table>

            <a class="btn btn-primary" href="{% url 'edit_event' %}">
              <!-- <span class="glyphicon glyphicon-pencil"></span> -->
              Edit Event
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <form action="submit" method="POST">{% csrf_token %}
            <div class="form-group">
              <label>Add Low-Priority Keyword:</label>
              <input type="text" class="form-control" name="info">
              <input type="hidden" value='view_event' name="redirect_to">
              <input type="submit" class="btn btn-primary btn-md" name="add_keyword_low" value="Submit">
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <form action="submit" method="POST">{% csrf_token %}
            <div class="form-group">
              <label>Add Priority Keyword:</label>
              <input type="text" class="form-control" name="info">
              <input type="hidden" value='view_event' name="redirect_to">
              <input type="submit" class="btn btn-primary btn-md" name="add_keyword_high" value="Submit">
            </div>
          </form>
        </div>
      </div>


    <div class="row">
      <div class="col-sm-3">
        <p> Keywords: <br/>
        {% for keyword in event.keyword.all %}
          <a href="https://twitter.com/hashtag/{{ keyword.keyword }}" target="_blank">{{ keyword.keyword }}</a><br/>
        {% endfor %} </p>
      </div>
    </div>

    </div>

  </div>

  <div class="col-md-6">
    <!-- <div class="alert alert-warning" role="alert" style="color: black; display: inline-block">
      <strong>Disable computer sleep!</strong>
    </div> -->

    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: black; display: inline-block">
      <strong>Disable computer sleep!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% if kw_stream_status is True %}
    <div class="row">
      <h4 class="title">The keyword stream is running.</h4>
      <form action="submit" method="POST">{% csrf_token %}
        <div class="form-group">
          <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-md" name="stop_kw_stream" value="Stop Stream">
          </div>
        </div>
      </form>
    </div>
    {% endif %}

    {% if kw_stream_status is False %}
    <div class="row">
      <h4 class="title">The keyword stream is off.</h4>
      <form action="submit" method="POST">{% csrf_token %}
        <div class="form-group">
          <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-md" name="start_kw_stream" value="Start Stream">
          </div>
        </div>
      </form>
    </div>
    {% endif %}

    <div>
      <p><b>Keywords:</b>
          {% if keywords|length == 0 %}
            No Keywords Detected.
          {% else %}
            {% for keyword in keywords %}
              {{ keyword }},
            {% endfor %}
        {% endif %}
      </p>
    </div>



    {% if gps_stream_status is True %}
    <div class="row">
      <h4 class="title"><small>The GPS stream is running.</small></h4>
      <form action="submit" method="POST">{% csrf_token %}
        <div class="form-group">
          <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-md" name="stop_gps_stream" value="Stop Stream">
          </div>
        </div>
      </form>
    </div>
    {% endif %}

    {% if gps_stream_status is False %}
    <div class="row">
      <h4 class="title"><small>The GPS stream is off.</small></h4>
      <form action="submit" method="POST">{% csrf_token %}
        <div class="form-group">
          <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-md" name="start_gps_stream" value="Start Stream">
          </div>
        </div>
      </form>
    </div>
    {% endif %}
  </div>

</div>
{% endblock %}
