p {
}

body {
    padding-left: 0px;
}

.user_details {
    padding: 5px;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 10px;
}

.added_tweet {
    padding: 15px;
    margin: 10px;
    border: 5px solid SteelBlue;
    border-radius: 10px;
    height:150px;
    font-size:140%;
}

.streamed_tweet {
    padding: 15px;
    margin: 10px;
    border: 5px solid SteelBlue;
    border-radius: 10px;
    height:150px;
    font-size:140%;
    background-color: powderblue;
}

.tweet_to_code {
    padding: 15px;
    margin: 10px;
    border: 5px solid SteelBlue;
    border-radius: 10px;
    height:90px;
    font-size:100%;
}

.coding_button_row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top_margin_20 { margin-top:20px; }


form {
    display: inline-block;
}

.btn-remove:hover {
  background: #f44336;
  color: white;
}
