p {
}

body {
    padding-left: 0px;
    background: #DBEBFF;
}

.user_details {
    padding: 15px;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    background: #fffbdb;
}

.added_tweet, .streamed_tweet, .tweet_to_code {
    padding: 15px;
    margin: 10px;
    border: 5px solid SteelBlue;
    border-radius: 10px;
    font-size:120%;
}

.streamed_tweet {
    background-color: #fffbdb;
}

.tweet_to_code {
    height:90px;
    font-size:100%;
}

.coding_button_row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top_margin_20 {
  margin-top:20px;
}

.btn-remove:hover {
  background: #f44336;
  color: white;
}


form {
    display: inline-block;
}

th, td {
    padding: 2px;
}

.tr_alternate:nth-child(odd) {
    background-color: #e8e8e8
}
