p {
}

body {
    padding-left: 0px;
}

.user_details {
    padding: 5px;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}

.streamed_tweet {
    background-color: lightblue;
}

.top_margin_20 { margin-top:20px; }
